.client-services(id="services") 
  .section-head 
    .wrapper Services & Clients
  .services
    .service.aperture.active
      include ../pugparts/aperture.pug
      i(class="fas fa-video")
      | Web
    .service.aperture
      include ../pugparts/aperture.pug
      i(class="fas fa-film")
      | TV
    .service.aperture
      include ../pugparts/aperture.pug
      i(class="fas fa-suitcase")
      | Products

  //- tabs
  .wrapper
    .tab-content.active
      .media-wrapper
        iframe.lazy(data-src="https://www.youtube.com/embed/videoseries?list=PLm2zChNEamqy2626FH5mvG-BQPB-tci20&loop=1&rel=0" frameborder="0" allowfullscreen)
      .description
        h Professional Web Videos
        .
          #[span Every brand has a story.]
          At Brand Applause, we help you develop the interactive tools to share yours with the world.

    .tab-content
      .media-wrapper
        iframe.lazy(data-src="https://www.youtube.com/embed/videoseries?list=PLm2zChNEamqxd4moeVn74941zqdi5bcjc&loop=1&rel=0" frameborder="0" allowfullscreen)
      .description
        h Professional Advertisements, Documentaries, and Infomercials
        .
          #[span Sometimes you need more than a few seconds to tell your story.]
          When your goal is to introduce customers to a new idea or experience, the best venue is often long-format. The campaigns below are a sample of the organizations that used long-format drama - documentaries, infomercials and feature films - to demonstrate their expertise and generate brand appeal. 

    .tab-content
      .media-wrapper
        iframe.lazy(data-src="https://www.youtube.com/embed/videoseries?list=PLm2zChNEamqxszgdH1r_LckSYYw_-ttI1&loop=1&rel=0" frameborder="0" allowfullscreen)
      .description
        h Professional Product Shots
        .
          #[span Further your brand]
          with beautiful desktop photography and television commercials.
  //-tabs

  .brands
    .div
      include ../assets/svg/brands/brands.pug
