.client-services
  h1 Services
  .services
    .service.aperture
      include ../pugparts/aperture.pug
      i(class="fas fa-video")
      | Web Videos
    .service.aperture
      include ../pugparts/aperture.pug
      i(class="fas fa-film")
      | Broadcast TV
    .service.aperture
      include ../pugparts/aperture.pug
      i(class="fas fa-suitcase")
      | Product Shots
  .videos
    iframe(src="https://www.youtube-nocookie.com/embed/rGCZudpfUEQ?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
  .brands
