.client-services
  .section-head 
    .wrapper Services & Clients
  .services
    .service.aperture
      include ../pugparts/aperture.pug
      i(class="fas fa-video")
      | Web Videos
    .service.aperture
      include ../pugparts/aperture.pug
      i(class="fas fa-film")
      | Broadcast TV
    .service.aperture
      include ../pugparts/aperture.pug
      i(class="fas fa-suitcase")
      | Product Shots
  .videos.wrapper
    .video-wrapper
      iframe(src="https://www.youtube-nocookie.com/embed/rGCZudpfUEQ?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
    .wrapper
      .
        #[span Professional Product shoots]
        Phosfluorescently engage worldwide methodologies with web-enabled technology. Interactively coordinate proactive e-commerce via process-centric "outside the box" thinking. Completely pursue scalable customer service through sustainable potentialities.
        Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.
  .brands
    //- | ${require.context('../assets/svg/brands/', false, /\.svg$/).foreach(function() {this(key)})}
