.section-head(id="contact") 
  .wrapper Contact Me

.contact.wrapper
  .address
    .head
      img(src="//res.cloudinary.com/matthew-thomas/image/upload/w_100,ar_1:1,c_fill,g_face,q_auto,fl_lossy,f_auto/v1562511167/james_eoefeg")
      span 
        i(class="fas fa-user-alt")
        | James Thomas
      span
        i(class="fas fa-phone")
        a(href="tel:917-664-0507").no-style 917-664-0507
      span
        i(class="fas fa-envelope")
        a(href="mailto:james@macmillanfilms.com").no-style james@macmillanfilms.com
    .bio
      .
        #[span James Thomas is the ]
        owner of BrandApplause and has directed, produced, and shot more than 400 films and commercial campaigns.

  form(action="https://usebasin.com/f/476f85219509" method="POST").mail#email
    .flap
    .backing
    .paper
      .label Name
      input(type="text" name="name" required)
      .require-message Please Enter Name
      .label E-mail
      input(type="email" name="_replyto" required pattern=".+@.+?\..+")
      .require-message Please Enter a Valid Email
      input(type="hidden" name="_gotcha")
      textarea(name="message")
    .backing.two
    .letter-front
      .right-fold
      .left-fold
      .middle-fold
      .first-button#submit Submit
