.contact
  .address
  form(action="").mail
    .flap
    .backing
    .paper
      .label Name
      input(type="text")
      .label E-mail
      input(type="text")
      textarea(name="message")
    .backing.two
    .letter-front
      .right-fold
      .left-fold
      .middle-fold
      .first-button(onclick="document.forms[0].submit()") Submit
