.section-head(id="contact") 
  .wrapper Contact Me
.contact.wrapper
  .address
    .head
      img(src='//via.placeholder.com/100x100')
      i(class="fas fa-user-alt")
      | John Doe
      //- fake number
      span
        i(class="fas fa-phone")
        a(href='tel:202-555-0131').no-style 202.555.0131
      span
        i(class="fas fa-envelope")
        a(href='mailto:matthewzwartswhite@gmail.com').no-style test email (mine)
    .bio
      .
        #[span John Doe is a ]
        Nobody's fault it could have been managed better action item, nor high touch client. Upstream selling first-order optimal strategies wiggle room bells and whistles pull in ten extra bodies to help roll the tortoise, but deploy, nor let's not solutionize this right now parking lot it.
  form(action="").mail
    .flap
    .backing
    .paper
      .label Name
      input(type="text")
      .label E-mail
      input(type="text")
      textarea(name="message")
    .backing.two
    .letter-front
      .right-fold
      .left-fold
      .middle-fold
      .first-button(onclick="document.forms[0].submit()") Submit
