.section-head 
  .wrapper Contact Me
.contact.wrapper
  .address
    img(src='http://via.placeholder.com/100x100')
    | John Doe
    //- fake number 
    i(class="fas fa-phone")
    a(href='tel:202-555-0131') 202.555.0131 
    i(class="fas fa-envelope")
    a(href='mailto:matthewzwartswhite@gmail.com') test email (mine)
  form(action="").mail
    .flap
    .backing
    .paper
      .label Name
      input(type="text")
      .label E-mail
      input(type="text")
      textarea(name="message")
    .backing.two
    .letter-front
      .right-fold
      .left-fold
      .middle-fold
      .first-button(onclick="document.forms[0].submit()") Submit
