.section-head(id="contact") 
  .wrapper Contact Me
.contact.wrapper
  .address
    .head
      img(src='https://via.placeholder.com/100')
      span 
        i(class="fas fa-user-alt")
        | James Thomas
      span
        i(class="fas fa-phone")
        a(href='tel:917-664-0507').no-style 917-664-0507
      span
        i(class="fas fa-envelope")
        a(href='mailto:james@brandapplause.com').no-style james@brandapplause.com
    .bio
      .
        #[span James Thomas is the ]
        Nobody's fault it could have been managed better action item, nor high touch client. Upstream selling first-order optimal strategies wiggle room bells and whistles pull in ten extra bodies to help roll the tortoise, but deploy, nor let's not solutionize this right now parking lot it.
  form(action="https://formspree.io/james@brandapplause.com" method="POST").mail
    .flap
    .backing
    .paper
      .label Name
      input(type="text" name="name")
      .label E-mail
      input(type="email" name="_replyto")
      textarea(name="message")
    .backing.two
    .letter-front
      .right-fold
      .left-fold
      .middle-fold
      .first-button(onclick="document.forms[0].submit()") Submit
