.footer
  .wrapper
    ul.pages Jump To
      li Home
      li Testimonials
      li Services
      li Contact
    ul.services Services
      li #[a(href='#').no-style will]
      li template 
      li later
    .social-media
      //- not sure what social media buttons there will be so these are temporary
      a.icon.aperture.linkedin
        include ../pugparts/aperture.pug
        <i class="fab fa-linkedin-in"></i>
      a.icon.aperture.twitter
        include ../pugparts/aperture.pug
        <i class="fab fa-twitter"></i>
      a.icon.aperture.youtube
        include ../pugparts/aperture.pug
        <i class="fab fa-youtube"></i>
    .copyright Copyright 2018 or something 