.footer
  .wrapper
    ul.footer-list Jump To
      li #[a(href='#').no-style Home]
      li #[a(href="#testimonials").no-style Testimonials]
      li #[a(href="#services").no-style Services]
      li #[a(href="#contact").no-style Contact]
    ul.footer-list Services
      li #[a(href='#services' tab='0').no-style Web Videos]
      li #[a(href='#services' tab='1').no-style Broadcast Television] 
      li #[a(href='#services' tab='2').no-style Product Shots]
    .social-media
      //- not sure what social media buttons there will be so these are temporary
      a(href="https://www.linkedin.com/in/james-thomas-29a8284/").icon.aperture.no-style.linkedin
        include ../pugparts/aperture.pug
        <i class="fab fa-linkedin-in"></i>
      a(href="https://github.com/BrandApplause").icon.aperture.no-style.github
        include ../pugparts/aperture.pug
        <i class="fab fa-github"></i>
      a(href="https://www.youtube.com/channel/UC2wkZHS8iaTrYkwL4PlMZ0w").icon.aperture.no-style.youtube
        include ../pugparts/aperture.pug
        <i class="fab fa-youtube"></i>
    .copyright Copyright MacMillan Films LLC 1988-#{(new Date()).getFullYear()} #[a(href="https://white-matter.github.io/").no-style Designed by Matthew White]