.navbar
  .wrapper
    a(href='#').title.no-style #[span Brand]Applause
    .drawer
      a(href='#services').second-button.no-style Services
      a(href='#contact').first-button.no-style Contact Me
