.navbar
  .wrapper
    a(href='#').title.no-style #[span Brand]Applause
    .drawer
      a(href='#').goto-services.no-style Services
      a(href='#').goto-contact.no-style Contact Me
        .shade
