.navbar
  .wrapper
    a(href='#').title.no-style #[span Brand]Applause
    .drawer
      a(href='#').second-button.no-style Services
      a(href='#').first-button.no-style Contact Me
        .shade
