body
  margin-top: $navHeight

.navbar
  height: $navHeight
  width: 100%
  position: fixed
  top: 0
  background-color: $white
  color: $purple
  box-shadow: $shadow
  left: 0
  z-index: 10
  border-top: $topBorder solid $purple //being perectly centered didn't look quite right
  .wrapper
    *
      display: inline-block

.title
  line-height: $navHeight
  font:
    family: 'Bangers'
    weight: 400
    size: 34px
  span
    color: $accentColor
  svg
    height: 1em
    margin-right: 0.1em

.drawer
  float: right
  line-height: $navHeight - $topBorder
  > *
    text-transform: uppercase
    font:
      size: 18px
      weight: 400
    letter-spacing: 0.04em
    padding: 4px 30px
    position: relative
    line-height: 1em
    vertical-align: middle

.second-button
  transition: color .2s ease-in
  &:hover
    color: $highlight

.first-button
  border-radius: 20px
  border: $purple 2px solid
  overflow: hidden
  background-color: transparent
  transition: color .2s ease-in, border-color .2s ease-in, box-shadow .2s ease-in
  &:hover
    color: $offWhite //less contrasty on a blue background
    border-color: $offWhite
    box-shadow: 0 0 0 2px $highlight
    &::after
      transform: rotate(45deg) translateY(80px)
      background-color: $highlight
  &::after
    content: ''
    z-index: -1
    background-color: $purple
    position: absolute
    left: -10px
    bottom: 0
    height: 150px
    width: 300px
    transform: rotate(45deg) translateY(225px)
    transition: transform .38s cubic-bezier(0.25, 0.46, 0.47, 1.6) , background-color .4s ease-in-out

@media (max-width: $medium) //kinda hacky way to do it, but the nav bar is not that important a feature
  .navbar
    position: absolute
    top: 0
  .drawer
    opacity: 0
    pointer-events: none