.navbar
  .wrapper
    a(href='#').title.no-style
      include ../assets/svg/brandhead.svg
      .
        #[span Brand]Applause
    .drawer
      a(href='#services').second-button.no-style Services
      a(href='#contact').first-button.no-style Contact Me
