.splash
  .wrapper
    .catch-vcenter
      .catch
        .
          #[a(href='#').no-style Name]
          velit sed ullamcorper morbi tincidunt ornare massa. Dolor sed 
          #[a(href='#').no-style product shoots]
          ipsum nunc aliquet 
          #[a(href='#').no-style web videos] 
          enim.
  .scroll-down
    .part
    .part
  .scroll-down
    .part
    .part
