.splash
  .wrapper
    .catch-vcenter
      .catch
        .
          Over #{(new Date()).getFullYear()-1988} years of experience making
          #[a(href='#services' tab='0').no-style web videos],
          #[a(href='#services' tab='1').no-style broadcast television],
          and #[a(href='#services' tab='2').no-style product shots]. 
  a(href="#testimonials")
    .scroll-down
      .part
      .part
    .scroll-down
      .part
      .part
