.splash
  .wrapper
    .catch-vcenter
      .catch
        .
          Over #{(new Date()).getFullYear()-2007} years of experience making
          #[a(href='#services').no-style web videos],
          #[a(href='#services').no-style commercials],
          and #[a(href='#services').no-style product shots]. 
  .scroll-down
    .part
    .part
  .scroll-down
    .part
    .part
