.section-head(id="testimonials") 
  .wrapper Testimonials
.testimonials.wrapper
  //- todo: turn this into a template
  .t-container
    .quote
      .
        #[i(class="fas fa-quote-left")]
        #[span “Clear thinking and creativity make them my clear first choice. For 15 years I have called on them - for commercials, original programming and web campaigns.  They always bring energy, innovation, can-do, techne, flexibility, fun and good English tea. They love what they do and it makes them #1"]
        This is a fake quote though, I'm sorry. Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
    .author
      .not-img
        .name Federico Mallo
        .position President and Global Franchise Owner
        .company Muzzy BBC Language Courses
      img(src='assets/small/federico100.png')

  .t-container
    .quote
      .
        #[i(class="fas fa-quote-left")]
        #[span "Bliss Integrated Communication has been working with James and Brand Applause for many years.  They are our top pick for video and photo projects for a wide range of client needs – both internal and external.  James is one of a handful of professionals in his field that understands how to work in highly-regulated industries (e.g., healthcare, financial and professional).   He always finds creative and strategic solutions for our clients, in the face of some very conservative mandates.  James’ concise writing and years of experience directing creates real impact and helps Bliss get the most out of customer and client interviews.   Whether its medical training content for television, business development and cultural videos, or a Vlog series/campaign - one call to James and Brand Applause gets it done.”]
        I spent less effort on this one though. Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution.    .author
    .author
      .not-img
        .name Michael Roth
        .position Partner, Healthcare Practice Leader
        .company Bliss Integrated Communications
      img(src='assets/small/MRoth1-100.jpg')