.testimonials
  text-align: center

.t-container
  vertical-align: top
  display: inline-block
  min-width: 400px
  width: calc(50% - 40px)
  max-width: 520px
  margin: 20px 20px 40px
  box-shadow: $shadow
  border-radius: $radius
  border-bottom-right-radius: $imgSize * 0.5
  background-color: $white
  &:first-child
    margin-top: 20px
  &:last-child
    margin-bottom: 40px

@media (max-width: 976px)
  .t-container
    min-width: unset
    width: calc(100% - 20px)
    margin: 20px auto
@media (max-width: $small)
  .t-container
    width: 100%

.quote
  padding: 15px
  text-align: left
  letter-spacing: 0.015em
  line-height: 1.16em
  i
    color: $accentColor
    font-size: 22px
  span
    font-weight: 400

.author
  background-color: $accentColor
  border-bottom-left-radius: $radius - 1
  border-bottom-right-radius: $imgSize * 0.5
  color: $offWhite
  padding: 9px 10px 7px
  padding-right: ($imgSize + $imgBorder) * 0.5
  *
    display: inline-block
  > *
    vertical-align: middle
  img
    border: $imgBorder solid $offWhite
    box-shadow: 0 0 0 3px $accentColor
    border-radius: 50%
    margin: -(($imgSize - math.div($imgSize, math.div(99, 70))) * 0.5 + $imgBorder)
    margin-left: 10px

@media (max-width: 450px)
  .author
    padding-right: 10px
    img
      vertical-align: bottom

.not-img
  text-align: right
  width: calc(100% - #{(math.div($imgSize, math.div(99, 70)) + (($imgSize - math.div($imgSize, math.div(99, 70))) * 0.5) + 10px + $imgBorder * 2)})
  position: relative

.name,.position,.company
  width: 100%
  opacity: 0.7
  line-height: 0.88em
  margin: 2px

.name
  opacity: 0.9
  font-weight: 400
  margin-top: 4px
