.section-head(id="testimonials") 
  .wrapper Testimonials
.testimonials.wrapper
  //- todo: turn this into a template
  .t-container
    .quote
      .
        #[i(class="fas fa-quote-left")]
        #[span Clear thinking and creativity make them my clear first choice.]
        For 15 years, I have called on them for commercials, original programming, and web campaigns. They always bring energy, innovation, can-do, techne, flexibility, fun, and good English tea. They love what they do and it makes them #1."
    .author
      .not-img
        .name Federico Mallo
        .position
          .
            #[span President, ]
            #[span Global Franchise Owner]
        .company
          .
            #[span Muzzy BBC ]
            #[span Language Courses]
      img(src='//res.cloudinary.com/matthew-thomas/image/upload/w_100,ar_1:1,c_thumb,g_face,q_auto,fl_lossy,f_auto/v1562511169/federico_mallo_jynv1h')

  .t-container
    .quote
      .
        #[i(class="fas fa-quote-left")]
        #[span James' concise writing and years of experience directing creates real impact]
        and helps Bliss get the most out of customer and client interviews. Whether it's medical training content for television, business development and cultural videos, or a vlog series/campaign ⁠— one call to James and Brand Applause gets it done."
    .author
      .not-img
        .name Michael Roth
        .position
          .
            #[span Partner, ]
            #[span Healthcare Practice Leader]
        .company Bliss Integrated Communications
      img(src='//res.cloudinary.com/matthew-thomas/image/upload/w_100,ar_1:1,c_fill,g_face,q_auto,fl_lossy,f_auto/v1562511167/michael_roth_etf9g8')