.testimonials
  text-align: center
  

.t-container
  vertical-align: top
  display: inline-block
  min-width: 400px
  width: calc(50% - 40px)
  max-width: 520px
  margin: 20px 20px 40px
  box-shadow: $shadow
  border-radius: 3px
  border-bottom-right-radius: $imgSize / 2
  background-color: $white
  &:first-child
    margin-top: 20px
  &:last-child
    margin-bottom: 40px
  
@media (max-width: 976px)
  .t-container
    min-width: unset
    width: calc(100% - 20px)
    margin: 20px auto


.quote
  padding: 15px
  padding-bottom: 10px + (($imgSize - ($imgSize / (99/70))) / 2 + $imgBorder)
  text-align: left
  letter-spacing: 0.015em
  line-height: 1.19em
  i
    color: $accentColor
    font-size: 22px
  span
    font-weight: 700

.author
  background-color: $accentColor
  border-bottom-right-radius: $imgSize / 2
  color: $offWhite
  padding-right: ($imgSize + $imgBorder) / 2
  *
    display: inline-block
  > *
    vertical-align: middle
  img
    border: $imgBorder solid $offWhite
    box-shadow: 0 0 0 3px $accentColor
    border-radius: 50%
    margin: -(($imgSize - ($imgSize / (99/70))) / 2 + $imgBorder)
    margin-left: 10px

@media (max-width: 600px)
  .author
    padding-right: ($imgSize + $imgBorder) / 2

.not-img
  text-align: right
  width: calc(100% - #{($imgSize / (99/70) + (($imgSize - ($imgSize / (99/70))) / 2) + 10px + $imgBorder * 2)})
  position: relative

.name,.position,.company
  width: 100%
  opacity: 0.7
  line-height: 0.88em
  margin: 2px 

.name
  opacity: 0.9
  font-weight: 700
  margin-top: 4px

.company
  margin-bottom: 5px

@media (max-width: $medium)
  .testimonials
    padding: 0

