.aperture
  position: relative
  overflow: hidden

.leaf,.edge-contain
  position: absolute
  width: 200%
  height: 100%
  z-index: -2
  top: 25%
  left: 0%
  transition: transform 0.75s
  transform-origin: 25% 25%

.edge-contain
  z-index: -1


.edge
  position: absolute
  width: 42%
  height: 2px
  z-index: 1

$leafs: 6
@while $leafs > 0
  .aperture:hover 
    .leaf-#{$leafs}
      // for every 10% you ADD to translateY REMOVE 3% from translateX, at 25%,25% aperture is shut
      transform: rotate(60deg * $leafs + 60deg) translateY(50%) translateX(17.5%)
    .edge-contain-#{$leafs}
      transform: rotate(60deg * $leafs + 60deg) translateY(50%) translateX(18%)
  .leaf-#{$leafs},.edge-contain-#{$leafs}
    transform: rotate(60deg * $leafs) translateY(100%) translateX(3%)
  
  $leafs: $leafs - 1
