body
  background-color: $offWhite
  color: $dullBlack
  font:
    family: 'Lato'
    size: 17px

.wrapper
  padding: 0 $defaultPagePadding
  margin: 0 auto
  position: relative
  max-width: $maxWidth
  height: 100%
@media (max-width: $medium)
  .wrapper
    padding: 0 $mediumPagePadding
@media (max-width: $small)
  .wrapper
    padding: 0 $smallPagePadding

.no-style:link 
    text-decoration: inherit
    color: inherit

.no-style:visited 
    text-decoration: inherit
    color: inherit

.section-head
  height: $sectionHeadHeight
  line-height: $sectionHeadHeight
  background-color: $white
  font:
    family: "comfortaa"
    size: 27px
    weight: 700
  color: $purple
  box-shadow: $shadow
  padding-top: 2px
  