body
  padding: 0 $defaultPagePadding
  background-color: $offWhite
  color: $dullBlack
  font-family: 'Lato'
  > *:not(.navbar):not(.footer)
      max-width: $maxWidth
      margin: 0 auto
@media (max-width: $medium)
  body
    padding: 0 $mediumPagePadding

.wrapper
  margin: 0 auto
  position: relative
  max-width: $maxWidth
  height: 100%

.no-style:link 
    text-decoration: inherit
    color: inherit

.no-style:visited 
    text-decoration: inherit
    color: inherit

