include ./abc_logo.svg
include ace_logo.svg
include ea_logo.svg
include ge_logo.svg
include greenwich.svg
include logo_new_york_life.svg
include panasonic_logo.svg
include pbs_logo.svg
include pfizer_logo.svg
include qvc_logo.svg
include sony_pictures_television_logo.svg
include tristar_pictures_logo.svg
include usa_network_logo.svg
