<!doctype html>
html(lang="en")
    head
        title Brand Applause
        meta(charset="utf-8")
        style ${require("./styles/404.sass")}
    body
        .err-wrapper
            .err-num 404
            include ./assets/svg/brandman.svg
            . 
                Page not found
        script.
            setTimeout(function() {
                window.location = '/';
            }, 5000)

