<!doctype html>
html(lang="en")
    head
        meta(charset="utf-8")
        title Brand Applause
        link(href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700|Lato" rel="stylesheet")
    body
        p just some text for testing
        include ./index/navbar.pug
        script(src='main.js')