<!doctype html>
html(lang="en")
    head
        title Brand Applause
        meta(charset="utf-8")
        meta(name="description" content="tbd")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        //- temporary cdns 
        link(href="https://fonts.googleapis.com/css?family=Bangers|Poppins:200|Fira+Sans:300,400" rel="stylesheet")
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" media="none" onload="if(media!='all')media='all'"><noscript><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css"></noscript>
        //
        style ${require("sanitize.css")}
        style ${require("./style.sass")}
    body
        include ./index/navbar.pug
        include ./index/splash.pug
        include ./index/testimonials.pug
        include ./index/client-services.pug
        include ./index/contact.pug
        include ./index/footer.pug
        script(src='main.js')