<!doctype html>
html(lang="en")
    head
        title Brand Applause
        meta(charset="utf-8")
        meta(name="description" content="tbd")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        //- temporary cdns 
        link(href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700|Lato" rel="stylesheet")
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    body
        include ./index/navbar.pug
        .wrapper
            include ./index/testimonials.pug

        include ./index/footer.pug
        script(src='main.js')