<!doctype html>
html(lang="en")
    head
        title Brand Applause
        meta(charset="utf-8")
        meta(name="description" content="tbd")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        //- temporary cdns 
        link(href="https://fonts.googleapis.com/css?family=Bangers|Poppins:200|Fira+Sans:300,400" rel="stylesheet")
        link(href="https://use.fontawesome.com/releases/v6.4.0/css/all.css" rel="stylesheet")
        //
        style=require('sanitize.css?inline')
        style=require('./style.sass?inline')
    body
        include ./index/navbar.pug
        include ./index/splash.pug
        include ./index/testimonials.pug
        include ./index/client-services.pug
        include ./index/contact.pug
        include ./index/footer.pug
        script=require('./index.js?inline')