// general settings
// colors
$black: #11151C //#242424
$dullBlack: #404040
$offWhite: #f1f1fa
$white: #FBFCFB
$purple: #423666
$accentColor: #665fbe
$highlight: #00C4F0
$postalBlue: #326789
$yellow: #F9E163

$shadow: -1px 1px 8px rgba(0,0,0,0.12), 0px 1px 5px rgba(0,0,0,0.24)
$radius: 3px

//media query sizes
$medium: 700px
$small: 500px

$maxWidth: 1200px
$defaultPagePadding: 40px
$mediumPagePadding: 20px
$smallPagePadding: 10px

// general settigns
$sectionHeadHeight: 48px

@import ./styles/general
@import ./styles/aperture

// navbar settings
$navHeight: 54px
$topBorder: 2px
@import ./index/navbar.sass

// splash settings
$scrollHeight: 10px
$beatRatio: 2.5 //didn't end up using this, so it just controlls spacing
@import ./index/splash.sass

// testimonial settings
$imgSize: 100px
$imgBorder: 3px
$contentPadding: 10px
@import ./index/testimonials.sass

// client services settings
@import ./index/client-services.sass

// contact settings
$envelopeHeight: 280px //no longer works, I think...
$envelopeBorder: 6px
$envelopeBorderRadius: 10px
@import ./index/contact.sass

// footer settings
$footerBackground: #302e39
@import ./index/footer.sass
